.hero-btn {
  margin-bottom: 16px;
  width: 219px;
  height: 53px;
  border-radius: 32px;
  padding: 16px 32px;
  border: none;
  color: var(--beauty-landing-2-background);
  border: 2px solid var(--beauty-landing-2-s2);
  background-color: var(--beauty-landing-2-s2);
  cursor: pointer;
}

.hero-btn:hover {
  color: var(--beauty-landing-2-c6);
  background-color: transparent;
}
