.footer {
  position: relative;
  background-color: var(--beauty-landing-2-c1);
  background-image: url('../image/footer-background.svg');
  stroke-width: 4px;
  stroke: var(--beauty-landing-2-c6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  width: 100%;
  text-decoration: none;
  margin: 0 auto;
}

.footer-nav,
.footer-address {
  display: flex;
  flex: auto;
  gap: 186px;
}

.footer-logo,
.footer-menu {
  max-width: 206px;
  flex-grow: 1;
}

.footer-link {
  color: var(--beauty-landing-2-background);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}

.address-info {
  flex-grow: 1;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
}

.adress-copyright {
  color: var(--beauty-landing-2-s5);
  font-weight: 400;
  font-size: 13px;
}

.footer-address {
  display: block;
}

.footer-adress-icon {
  fill: var(--beauty-landing-2-background);
}

.footer-address-icon:hover {
  fill: var(--beauty-landing-2-s2);
}

.footer::after {
  position: absolute;
  width: 280px;
  height: 190px;
  right: 0;
  bottom: 0;
  background-image: url(../image/footer-image.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  content: '';
}
