@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
}

.play-regular {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.splay-bold {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;

  --second-family: 'Roboto', sans-serif;
  --font4: 'Play', sans-serif;
}

/* basa */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--beauty-landing-2-c1);
  background-color: var(--beauty-landing-2-background);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;

  text-align: center;
  padding: 0 24px;
}

.section {
  max-width: 100%;
  margin: 96px auto;
  justify-content: center;
  align-items: center;
}

.section-title {
  color: var(--beauty-landing-2-c1);
  text-align: center;
  font-weight: 700;
  font-size: 64px;
}

.visualty-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Header */
.header {
  font-family: var(--second-family);
  height: 106px;
}

.header-conteiner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-logo {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 22px;
  line-height: 95%;
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
  text-decoration: none;
  margin: 0;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-link {
  padding-right: 56px;
  display: inline;
}

.header-conteiner-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--beauty-landing-2-c1);
}
.header-item-icon {
  padding-right: 32px;
}

.header-address-icon {
  fill: var(--beauty-landing-2-c1);
}
.header-address-icon:hover {
  fill: var(--beauty-landing-2-background);
}

.text-underbtn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--beauty-landing-2-c3);
}

.link {
  color: var(--beauty-landing-2-s2);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}
.link:hover {
  color: var(--beauty-landing-2-c1);
}

/* hero section */
.hero-section {
  height: 686px;
  background-image: url('../image/foto-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-text {
  text-align: left;
  padding-top: 16px;
  margin-left: 206px;
}

.hero-title {
  color: var(--beauty-landing-2-s2);
  text-transform: capitalize;
  font-family: var(--third-family);
  text-align: left;
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  margin-bottom: 0;
}

/* indenture-section */
.indenture-section {
  max-width: 1240px;
}

.indenture-container {
  display: flex;
}

.indenture-content {
  max-width: 709px;
  height: 456px;
  text-align: left;
}

.indenture-title {
  font-family: var(--third-family);
}

.title-blau {
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
}

.indenture-text {
  font-weight: 400;
  font-size: 22px;
}

.indenture-image {
  align-items: center;
}
/* .indenture-image::after {
  content: '';
  display: block;
  width: 64px;
  border: 2px solid var(--color-brend-light);
} */

/* advantages-section */
.advantages-section {
  display: flex;
  width: 1060px;
}

.advantages-list {
  display: flex;
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.advantages-items {
  text-align: center;
  align-items: center;
  gap: 40px;
}
.advantages-card {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  padding: 24px 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--beauty-landing-2-background);
}

.advantages-img {
  width: 48px;
  height: 48px;
}

.title {
  color: var(--beauty-landing-2-s2);
}

.text {
  color: var(--beauty-landing-2-c1);
  font-family: var(--font-family);
  font-size: 18px;
}

/* наші процедури - Format section*/
.procedures-section {
  width: 1216px;
}

.fomats-container {
  display: flex;
  align-items: center;
}

/* carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--beauty-landing-2-background);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--beauty-landing-2-c3);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--beauty-landing-2-s2);
  fill: var(--beauty-landing-2-c3);
}

.format-card {
  height: 456px;
  padding: 24px;
  /* background-image: url('../image/foto-1.jpg'); */
  background-image: linear-gradient(
    180deg,
    hsl(216, 97%, 14%, 0) 47.4%,
    hsl(216, 97%, 14%, 0.71) 82.66%,
    var(--beauty-landing-2-c1) 99.06%
  );
  border: 1px solid lightgrey; /*remuv*/
  border-radius: 120px 4px;
}

.formats-list {
  display: flex;
  gap: 20px;
  width: 1059px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.format-items {
  flex-basis: calc((100% - 40px) / 3);
}

.format-title {
  font-weight: 700;
  font-size: 64px;
}
.format-text {
  font-family: var(--font-family);
  font-size: 22px;
  text-align: center;
}
.formats-title {
  margin-bottom: 80px;
}

/* контакти */
.contact-section {
  padding-bottom: 96px;
  width: 1059px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-form {
  font-size: 22px;
  text-align: center;
  padding-bottom: 32px;
}

.contact-title {
  margin-bottom: 16px;
  text-align: center;
  background: var(--beauty-landing-2-c1);
  border-radius: 32px;
  width: 423px;
  color: var(--beauty-landing-2-background);
}

.contact-maps {
  border-radius: 32px;
  flex-shrink: 0;
}

.contact-btn {
  border-radius: 32px;
  border: none;
  padding: 16px 32px;
  width: 281px;
  height: 53px;
  color: var(--beauty-landing-2-background);
  border: 2px solid var(--beauty-landing-2-s2);
  background-color: var(--beauty-landing-2-s2);
  cursor: pointer;
}

.contact-btn:hover {
  background-color: transparent;
  color: var(--beauty-landing-2-c6);
}

/* Footer */
.footer {
  background-color: var(--beauty-landing-2-c6);
  padding: 32px 0;
}

.footer-container {
  color: var(--beauty-landing-2-background);
  display: flex;
  text-decoration: none;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
  color: var(--beauty-landing-2-background);
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
}

.adress-copyright {
  color: var(--beauty-landing-2-s5);
  font-weight: 400;
  font-size: 13px;
}

.footer-adress-icon {
  fill: var(--beauty-landing-2-background);
}

.footer-address-icon:hover {
  fill: var(--beauty-landing-2-s2);
}
