@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
}

@play-regular {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@splay-bold {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --beauty-landing-2-background: #fff;
  --beauty-landing-2-s2: #2b7fff;
  --beauty-landing-2-c1: #011c44;
  --beauty-landing-2-c3: #4a4a4a;
  --beauty-landing-2-s4: #ffd02b;
  --beauty-landing-2-s5: #747272;
  --beauty-landing-2-c6: #011f4a;

  --second-family: 'Roboto', sans-serif;
  --third-family: 'Play', sans-serif;
}

/* basa */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--beauty-landing-2-c1);
  background-color: var(--beauty-landing-2-background);
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--third-family);
}

p {
  font-family: var(--second-family);
  margin-top: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  color: var(--beauty-landing-2-s2);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: justify;
  padding: 32px 0;
}

.section {
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-family: var(--third-family);
  color: var (--beauty-landing-2-c1);
  text-align: center;
  font-weight: 700;
  font-size: 64px;
}

.visualty-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Header */
.header {
  font-family: var(--second-family);
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 106px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 16px;
}

.header-container {
  display: flex;
  width: 100%;
  height: 42px;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}

.header-logo {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 95%;
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
  text-decoration: none;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-link {
  display: inline;
}

.link {
  color: var(--beauty-landing-2-c1);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.2s;
}
.link:hover {
  color: var(--beauty-landing-2-s2);
}

.header-conteiner-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-icon {
  padding-right: 32px;
  fill: var(--beauty-landing-2-c1);
  transition: fill 0.2s;
}

.header-address-icon {
  fill: var(--beauty-landing-2-c1);
}
.header-address-icon:hover {
  fill: var(--beauty-landing-2-background);
}

/* hero section */
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../image/foto-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-left: 206px;
  margin-bottom: 0;
}

.hero-title {
  color: var(--beauty-landing-2-s2);
  text-transform: capitalize;
  font-family: var(--third-family);
  text-align: left;
  font-weight: 700;
  font-size: 140px;
  line-height: 81%;
  margin-top: 16px;
  margin-bottom: 40px;
}

.hero-btn {
  margin-bottom: 16px;
  width: 219px;
  height: 53px;
  border-radius: 32px;
  padding: 16px 32px;
  border: none;
  color: var(--beauty-landing-2-background);
  border: 2px solid var(--beauty-landing-2-s2);
  background-color: var(--beauty-landing-2-s2);
  cursor: pointer;
}

.hero-btn:hover {
  color: var(--beauty-landing-2-c6);
  background-color: transparent;
}

.hero-underbtn {
  width: 238px;
  text-align: center;
  margin: 0;
}

.text-underbtn {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--beauty-landing-2-c3);
}

/* indenture-section */
.indenture-section {
  max-width: 1240px;
  width: 100%;
  max-height: 695px;
  height: 100%;
}

.indenture-container {
  display: flex;
  gap: 40px;
}

.indenture-content {
  max-width: 709px;
  width: 100%;
  text-align: left;
}

.indenture-title {
  font-family: var(--third-family);
}

.title-blau {
  text-transform: capitalize;
  color: var(--beauty-landing-2-s2);
}

.indenture-text {
  font-weight: 400;
  font-size: 22px;
}

.indenture-image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 499px;
  height: 695px;
  gap: 40px;
  background-color: var(--beauty-landing-2-background);
}

.indenture-foto {
  width: 327px;
  height: 328px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}

.face2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.star-1 {
  position: absolute;
  z-index: 1;
  top: 350px;
  right: 350px;
  fill: var(--beauty-landing-2-c6);
  transform: rotate(30deg);
  transition-property: fill;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.star-1:hover {
  fill: var(--beauty-landing-2-s2);
}

.star-2 {
  position: absolute;
  top: -100px;
  right: -200px;
  fill: var(--beauty-landing-2-s2);
  transform: rotate(30deg);
  animation-name: rotate-block;
}
@keyframes rotate-block {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: rotate(3.5);
  }
}

.star-3 {
  position: absolute;
  top: 200px;
  right: -100px;
  fill: var(--beauty-landing-2-s5);
  transform: rotate(43deg);
}

/* advantages-section */
.advantages-section {
  display: flex;
  padding-top: 176px;
}

.advantages-list {
  display: flex;
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.advantages-items {
  text-align: center;
  align-items: center;
  gap: 40px;
}
.advantages-card {
  border-radius: 32px;
  width: 316px;

  padding: 24px 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: var(--beauty-landing-2-background);
}

.advantages-img {
  width: 48px;
  height: 48px;
}

.title {
  color: var(--beauty-landing-2-s2);
}

.text {
  color: var(--beauty-landing-2-c1);
  font-family: var(--second-family);
  font-size: 18px;
  margin: 0;
}

.blau-background {
  background: url(../image/background-blau.svg);
  background-repeat: repeat;
  background-position: center top;
  background-size: cover;
}

/* наші процедури - Format section*/
.procedures-section {
  width: 1216px;
}

.fomats-container {
  display: flex;
  align-items: center;
}

/* carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--beauty-landing-2-background);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--beauty-landing-2-c3);
  cursor: pointer;
  transition: fill 0.2s;
}

.carousel-button:hover {
  background-color: var(--beauty-landing-2-s2);
  fill: var(--beauty-landing-2-c3);
}

.carousel-button.prev {
  transform: rotate(180deg);
}

.formats-list {
  display: flex;
  gap: 20px;
  width: 1059px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.format-items {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  height: 456px;
  padding: 24px;
  border: 1px solid lightgrey;
  border-radius: 120px 4px;
  transition: transform 0.2s;
}

.format-card:hover {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: linear-gradient(
    to right,
    180deg,
    hsl(216, 97%, 14%, 0) 47.4%,
    hsl(216, 97%, 14%, 0.71) 82.66%,
    var(--beauty-landing-2-c1) 99.06%
  );
}

.foto1 {
  position: relative;
  z-index: 1;
  background-image: url('../image/foto-1.jpg');
}
.foto2 {
  position: relative;
  z-index: 1;
  background-image: url('../image/foto-2.jpg');
}
.foto3 {
  position: relative;
  z-index: 1;
  background-image: url('../image/foto-3.jpg');
}

.format-title {
  font-weight: 700;
  font-size: 64px;
}
.format-text {
  font-family: var(--second-family);
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.formats-title {
  margin-bottom: 80px;
}

/* контакти */
.contact-section {
  padding-bottom: 96px;
  width: 1059px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-form {
  font-size: 22px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0 auto;
}

.contact-title {
  text-align: center;
  background: url(../image/contact-background.svg);
  background-color: var(--beauty-landing-2-c1);
  border-radius: 32px;
  padding: 48px 56px;
  max-height: 100%;
  height: 482px;
  color: var(--beauty-landing-2-background);
}

.contact-maps {
  border-radius: 32px;
  flex-shrink: 0;
}

.contact-field {
  margin-bottom: 16px;
}

.contact-btn {
  width: 281px;
}

.contact-btn:hover {
  background-color: transparent;
  color: var(--beauty-landing-2-c6);
}

/* Footer */
.footer {
  position: relative;
  background-color: var(--beauty-landing-2-c1);
  background-image: url('../image/footer-background.svg');
  stroke-width: 4px;
  stroke: var(--beauty-landing-2-c6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  width: 100%;
  text-decoration: none;
  margin: 0 auto;
}

.footer-nav,
.footer-address {
  display: flex;
  flex: auto;
  gap: 186px;
}

.footer-logo,
.footer-menu {
  max-width: 206px;
  flex-grow: 1;
}

.footer-link {
  color: var(--beauty-landing-2-background);
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s;
}

.address-info {
  flex-grow: 1;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
}

.adress-copyright {
  color: var(--beauty-landing-2-s5);
  font-weight: 400;
  font-size: 13px;
}

.footer-address {
  display: block;
}

.footer-adress-icon {
  fill: var(--beauty-landing-2-background);
}

.footer-address-icon:hover {
  fill: var(--beauty-landing-2-s2);
}

.footer::after {
  position: absolute;
  width: 280px;
  height: 190px;
  right: 0;
  bottom: 0;
  background-image: url(../image/footer-image.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  content: '';
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: rdba (0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 725px;
  width: 100%;
  max-height: 680px;
  height: 100%;
  padding: 42px 144px;
  background: url(../image/modal-backgraund.svg);
  background-color: var(--beauty-landing-2-c1);
  border-radius: 32px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--beauty-landing-2-background);
}

/* Form */
.form {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: var(--beauty-landing-2-background);
}

.form-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--beauty-landing-2-background);
}

.form-text-blau {
  color: var(--beauty-landing-2-s2);
}

.form-field {
  margin-bottom: 32px;
}

.form-lebel {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--beauty-landing-2-background);
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  border: 2px solid var(--beauty-landing-2-s5);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  background-color: var(--beauty-landing-2-s5);
  outline: none;
  color: var(--beauty-landing-2-background);
}

.form-input::placeholder {
  color: var(--beauty-landing-2-background);
}

.form-input:focus::placeholder {
  color: var(--beauty-landing-2-background);
}
